fastapi
uvicorn[standard]
streamlit
pandas
numpy
scikit-learn
xgboost
joblib
requests
python-multipart
pyjwt
bcrypt

# ADDITIONS
shap
pdfplumber
matplotlib
scipy
python-dotenv

# OPTIONAL
imbalanced-learn
slowapi